body {
  background-color: #111111;
}

header,
footer,
main,
.content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  width: 68%;
}

header {
  height: auto;
  background: transparent;
  position: relative;
}

nav {
  padding: 30px 0px;
  width: 100%;
}

.header-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-list li {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  font-family: "CormorantGaramond";
}

.header-list li a {
  text-decoration: none;
  color: white;
}

.header-list li:hover:not(.active),
.header-list li a:hover {
  color: #CDAA7D;
  text-decoration: underline;
}

.header-list li.active {
  color: #CDAA7D;
}

.line {
  border-top: 1px solid #FFFFFF;
  height: 0px;
}

.wrapper-pop-up {
  width: 420px;
  height: 1038px;
  background-color: black;
  display: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
}

#icon-close {
  position: absolute;
  top: 42px;
  justify-content: space-around;
  left: 82px;
}

.wrapper-modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;

}

.modal-contact-information {
  margin-top: 80px;
}

footer .line {
  margin: 80px 0px 30px 0px;
}

.copyright {
  color: white;
  text-align: center;
  opacity: 0.5;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-family: "CormorantGaramond";
  margin-bottom: 30px;
}

.wrapper-contact-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-information h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-family: "CormorantGaramond";
  color: white;
}

.contact-information p,
.modal-content p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "CormorantGaramond";
  color: white;
}