body{
  background-color: #111111;
}

header,
footer,
main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper{
  width: 68%;
}

header{
  height: 1038px;
  background: url("../accets/img/header.jpg") center center no-repeat;
  background-size: cover;

}