@import url("team-320.css");
@import url("team-480.css");
@import url("team-768.css");
@import url("team-1024.css");
@import url("team-1440.css");
@import url("team-1920.css");

.description {
  color: white;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-family: "CormorantGaramond";
}

.services-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services-img-wrapper {
  border: 1px solid #CDAA7D;
  position: relative;
}

.services-img-wrapper figure {
  position: absolute;
}

figcaption {
  color: white;
  font-weight: 400;
  font-style: normal;
  font-family: "CormorantGaramond";
}

figcaption:last-child {
  color: white;
  font-weight: 400;
  font-style: normal;
  font-family: "CormorantGaramond";
}