.description p {
  color: white;
  font-size: 48px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-family: "CormorantGaramond";
}

.wrapper-content-section {
  padding-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-section {
  width: 32%;
  display: flex;
  margin-top: 32px;
}

.last {
  margin-top: 112px;
}

.services-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.services {
  margin: 80px 0px 80px;
}

.img-content-section {
  margin-top: 80px;
}

.img-content-section:first-child {
  margin-top: 0px;
}

.services-section p {
  color: white;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  font-family: "CormorantGaramond";
}

.services-section p:last-child {
  font-size: 12px;
  margin-top: 10px;
}

.services-line {
  border: 0.5px solid #FFFFFF;
  width: 100%;
  margin-bottom: 40px;
}

.services .line {
  margin-top: 100px;
}