.contacts__description{
  color: white;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-family: "CormorantGaramond";
}

.contacts__wrapper-contact-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts__contact-information h3 {
  font-weight: 700;
  font-style: normal;
  font-family: "CormorantGaramond";
  color: white;
}

.contacts__contact-information p {
  font-weight: 400;
  font-style: normal;
  font-family: "CormorantGaramond";
  color: white;
}