@media all and (min-width: 1024px) {
  .contacts__services {
    padding: 55px 0px 55px 0px;
  }

  .contacts__description {
    font-size: 38px;
  }

  .contacts__map {
    margin: 55px 0px;
  }

  .contacts__contact-information {
    width: auto;
  }

  .contacts__contact-information h3 {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .contacts__contact-information p {
    font-size: 15px;
    margin-bottom: 16px;
  }
}